In [1]:
#Задание 1

In [10]:
import pandas as pd
#Функция для определения класса фильма (по рейтингу)
def film_class(rate):
    if rate <= 2:
        return 'Низкий'
    elif rate >2 and rate <= 4:
        return 'Средний'
    else:
        return 'Высокий'
    
ratings = pd.read_csv('C:\\ml-25m\\ratings.csv')
ratings['class'] = ratings['rating'].apply(film_class)
#ratings.head()

   userId  movieId  rating   timestamp    class
0       1      296     5.0  1147880044  Высокий
1       1      306     3.5  1147868817  Средний
2       1      307     5.0  1147868828  Высокий
3       1      665     5.0  1147878820  Высокий
4       1      899     3.5  1147868510  Средний

In [ ]:
#Задание 2

In [138]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def query_region(query_text):
    reg_list=[] #Создается список всех возможных городов для мэппинга.
    for regs in geo_data.keys():
        reg_list = reg_list + geo_data[regs]
    if query_text in reg_list: #проверка есть ли значение в списке городов для мэппинга
        for reg in geo_data.keys():#если есть - мэппинг региона
            if query_text in geo_data[reg]:
                return reg
    else: return 'undefined'#если нет - проставляется "undefined"

keywords = pd.read_csv('C:\\ml-latest-small\\keywords.csv')
keywords['region'] = keywords['keyword'].apply(query_region)
#Для проверки
#keywords.query("keyword in ['москва', 'тула', 'ярославль', 'петербург', 'псков', 'мурманск', 'владивосток', 'сахалин', 'хабаровск']")

In [ ]:
#Задание 3

In [223]:
ratings = pd.read_csv('C:\\ml-25m\\ratings.csv')
movies = pd.read_csv('C:\\ml-25m\\movies.csv')
year_list = [str(x) for x in list(range(1950,2011))]#создание списка дат
def film_year(title):
    for row in title:
        for film_year in year_list:
            if film_year in title:
                return film_year
    else: return '1990'

movies['year']=movies['title'].apply(film_year)
movies.join(ratings, rsuffix='_other').groupby('year').mean()['rating'].sort_values(ascending=False)

year
1987    3.744983
1952    3.742160
1950    3.730357
1957    3.711310
1981    3.680346
          ...
1971    3.476636
2005    3.468900
1962    3.467128
2006    3.439530
1967    3.351282
Name: rating, Length: 61, dtype: float64